<h1>{{title}}</h1>
<main class="main-choice">
<article>
  <button><a href="/employees">Would you like to go to the employees' page?</a> </button> 
</article>
<article>
  <button><a href="/shifts">Would you like to go to the shifts' page?</a> </button> 
</article>
</main>
